<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jsp.updaterk312"
    android:sharedUserId="android.uid.system">
    <permission android:label="@string/permlab_showUI" android:name="android.rockchip.update.permission.SHOW_UI" android:protectionLevel="signature|signatureOrSystem" android:description="@string/permdesc_shwoUI" />
    <uses-permission android:name="android.rockchip.update.permission.SHOW_UI" />
    <uses-permission android:name="android.permission.REBOOT" />
    <uses-permission android:name="android.permission.RECOVERY" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_CACHE_FILESYSTEM" />
    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.ACCESS_MTP" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="22" />

    <application
        android:allowBackup="true" android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true" >
        <receiver android:name=".RKUpdateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <data android:scheme="file" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_UNMOUNTED" />
                <data android:scheme="file" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_STATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <service android:name=".RKUpdateService">
            <intent-filter>
                <action android:name="android.rockchip.update.service" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <activity
            android:theme="@*android:style/Theme.Holo.Dialog"
            android:name=".FirmwareUpdatingActivity"
            android:permission="android.rockchip.update.permission.SHOW_UI"
            android:excludeFromRecents="true"
            android:exported="true"
            android:multiprocess="false"
             />
        <activity
            android:theme="@*android:style/Theme.Holo.Dialog"
            android:name=".UpdateAndRebootActivity"
            android:permission="android.rockchip.update.permission.SHOW_UI"
            android:excludeFromRecents="true"
            android:multiprocess="false"
             />
        <activity
            android:theme="@*android:style/Theme.Holo.Dialog"
            android:name=".NotifyDeleteActivity"
            android:permission="android.rockchip.update.permission.SHOW_UI"
            android:excludeFromRecents="true"
            android:multiprocess="false"
          />
        <activity
            android:theme="@*android:style/Theme.Holo.Dialog"
            android:name=".PackageDownloadActivity"
            android:permission="android.rockchip.update.permission.SHOW_UI"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:multiprocess="false"
             />
        <activity
            android:theme="@*android:style/Theme.Holo.Dialog"
            android:name=".OtaUpdateNotifyActivity"
            android:permission="android.rockchip.update.permission.SHOW_UI"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            />
        <activity
            android:name=".Setting"
            android:excludeFromRecents="true"
            android:icon="@drawable/ota_update"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>